

body {
	background-color: #ffffff;
	font-family: 'Arial', Helvetica, sans-serif;
	text-align: left;
	width: 100%;
}

h3{
	color: #C45811;
	margin: 10px, 325px, 0px, 0px;
	padding: 10px, 150px, 10px, 150px
}

h4{
	color: #767171;
	margin: 2px, 325px, 8px, 0px;
	padding: 10px, 150px, 10px, 150px
}

h5{
	font-weight: bold;
	padding: 10px, 150px, 10px, 150px
}

}

#container{
	width: 1000px
	color: #767171;
	margin-right: auto;
	margin-left: auto;
}
 
#name{
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 195px;
	padding: 10px, 150px, 10px, 150px

	font-family: 'Arial', Helvetica, sans-serif;
	color: #C45811;
}

#photo{
	float: right;
	clear: right;
	padding: 10px, 10px, 10px, 10px;
	width: 100px
	height: 100px;
	border-color: #767171;
	border: 1px;
}

img.resize{
	width: 100%;
	height: auto;

}

#address{
	font-family: 'Arial', Helvetica, sans-serif;
	/* color is light grey that is standard*/
	font-size: 1em;
	color: #767171;

}


#personal{
	margin-right: 325px;


}

.main{
	font-family: : "Arial", Helvetica, sans-serif;
	color: #767171;
}


.mainheader{
	margin-bottom: 4px;
	color: #C45811;

}

.company{
	margin-bottom: 4px;
	float: left;
	
}

.jobTitle{
	margin-bottom: 12px;
	float: right;
}

.description{
	margin-bottom: 22px;
	margin-right: 325px;

}


